{% extends "base.html" %}
{% block content %}
<h1 id="homepage_header">Final project</h1>


    <table class="table table-borderd table-hover">
        <thead>
            <tr>
                <th>Score Phrase</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            {% for score_phrase, count in counter.items()%}
                <tr>
                    <td>{{ score_phrase }}</td>
                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


<img src="{{ url_for('bp.image') }}" class="rounded mx-auto d-block" alt="Plot with analysis">

{% endblock content %}